---
import './HomeHero.scss'
---

<section class="hero">
    <div class="hero__bg"></div>
    <div class="hero__texture"></div>
    <div class="hero__content">
        <div class="hero__label">Est. 2010 &middot; Military History Journal</div>
        <h1 class="hero__title">History<br />Reconsidered</h1>
        <div class="hero__divider"></div>
        <blockquote class="hero__quote">
            "The further backward you look, the further forward you can see."
            <span class="hero__quote-author">&mdash; Winston Churchill</span>
        </blockquote>
        <a href="#articles" class="hero__cta">
            Explore Articles
            <svg fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
        </a>
    </div>
    <div class="hero__scroll"></div>
</section>
