---
import './CategoryChip.scss'

interface Props {
    label: string
    variant?: 'overlay' | 'tag'
}

const { label, variant = 'overlay' } = Astro.props
---

<div class={`category-chip category-chip--${variant}`}>{label}</div>
