---
import SiteLayout from '@layouts/SiteLayout.astro'
import { sanityClient } from '@lib/sanity/client'
import { pageBySlugQuery } from '@lib/sanity/queries'
const pageData = await sanityClient.fetch(pageBySlugQuery, { slug: 'about' })

const sections = pageData?.sections ?? []
const pageTitle = pageData?.title ?? 'History Reconsidered'
const pageDescription = pageData?.description ?? ''
---

<SiteLayout title={pageTitle} description={pageDescription}>
    <main id='main'>
        {
            sections.map((section: any) => {
                switch (section._type) {
                    default:
                        return null
                }
            })
        }
    </main></SiteLayout
>
