---
import SiteLayout from '@layouts/SiteLayout.astro'
import PageSections from '@components/sections/PageSections/PageSections.astro'
import { sanityClient } from '@lib/sanity/client'
import { homeQuery } from '@lib/sanity/queries'

const pageData = await sanityClient.fetch(homeQuery)

const sections = pageData?.sections ?? []
const pageTitle = pageData?.title ?? 'History Reconsidered'
const pageDescription = pageData?.description ?? ''
---

<SiteLayout title={pageTitle} description={pageDescription}>
    <main id="main">
        <PageSections sections={sections} />
    </main>
</SiteLayout>
