---
import MobileNav from '@components/MobileNav/MobileNav'
import './Header.scss'
import { Icon } from 'astro-icon/components'

interface NavLink {
    label: string
    href: string
}

interface Props {
    logoTitle?: string
    logoSubtitle?: string
    navLinks: NavLink[]
}

const { logoTitle, logoSubtitle, navLinks } = Astro.props
---

<header class='header'>
    <div class='header__inner'>
        <div class='header__logo'>
            <a href='/'>
                <h1>
                    <span class='header__title'>{logoTitle ?? 'History Reconsidered'}</span>
                    <span class='header__subtitle'
                        >{logoSubtitle ?? 'Military History & Research'}</span
                    >
                </h1>
            </a>
        </div>
        <nav class='header__nav'>
            {navLinks.map((link) => (
                <a class='header__nav-link' href={link.href}>{link.label}</a>
            ))}
            <button class='header__nav-search' aria-label='Search the articles'
                ><Icon name='search' /></button
            >
        </nav>
        <button
            class='header__nav-mobile'
            aria-label='Open mobile navigation'
            data-mobile-nav-button
        >
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>

<MobileNav client:only='react' navLinks={navLinks} />

<script>
    const mobileMenuButton = document.querySelector('[data-mobile-nav-button]')

    mobileMenuButton?.addEventListener('click', () => {
        mobileMenuButton.classList.toggle('header__nav-mobile--active')
        document.dispatchEvent(new CustomEvent('toggle-mobile-nav'))
    })
</script>
