---
import './Footer.scss'
---

<footer class='footer'>
    <div class='footer__inner'>
        <div class='footer__brand'>
            <div class='footer__brand-logo'>
                <span class='footer__brand-logo-title'
                    >History Reconsidered</span
                >
                <span class='footer__brand-logo-subtitle'
                    >Military History &amp; Research</span
                >
            </div>
            <p class='footer__brand-description'>
                Reconsidering significant historical decisions and actions with
                rigorous research and source-supported analysis.
            </p>
        </div>
        <div class='footer__nav-group'>
            <h4 class='footer__nav-title'>Navigate</h4>
            <a class='footer__nav-link' href='#'>Home</a>
            <a class='footer__nav-link' href='#'>Articles</a>
            <a class='footer__nav-link' href='#'>Book</a>
            <a class='footer__nav-link' href='#'>About</a>
            <a class='footer__nav-link' href='#'>Contact</a>
        </div>
        <div class='footer__nav-group'>
            <h4 class='footer__nav-title'>Topics</h4>
            <a class='footer__nav-link' href='#'>Colonial History</a>
            <a class='footer__nav-link' href='#'>European Wars</a>
            <a class='footer__nav-link' href='#'>British Isles</a>
            <a class='footer__nav-link' href='#'>Medieval</a>
            <a class='footer__nav-link' href='#'>World War I</a>
        </div>
    </div>
    <div class='footer__bottom'>
        <span>© 2010–2026 History Reconsidered, LLC</span>
        <span>All rights reserved</span>
    </div>
</footer>
