.section-header {
    .eyebrow {
        margin-bottom: 12px;
    }

    .section-title {
        margin-bottom: 0;
    }

    .hairline {
        margin-top: 20px;
    }

    &--left {
        text-align: left;
    }

    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;
    }
}
